body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

section {
  margin: 20px;
}

.population {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 50%;        
}

.rectangle {
  background-color: #88f;
  margin-bottom: 20px;
}

.rectangle-container {
  display: flex;
  justify-content: space-around;
}

button {
  margin-top: 20px;
}
